<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cafuc.crossmall.mapper.MerchantMapper">
    <insert id="insertMerchant" parameterType="Merchant">
        insert into merchant
            (merchant_name, region, description, user_id)
            values (#{merchantName}, #{region}, #{description}, #{user_id})
    </insert>
</mapper>