<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cafuc.crossmall.mapper.UserMapper">
    <select id="selectUserByNameAndPassword" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="selectUserByName" resultType="Integer">
        select count(*) from user where username = #{username}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user
            (username,password,nickname,phone,role,status)
            values (#{username},#{password},#{nickname},#{phone},#{role},#{status})
    </insert>

    <select id="selectById" resultType="User">
        select * from user where id = #{id}
    </select>

    <select id="selectAllForAdmin" resultType="AdminUserVO">
        select id, username, nickname, role, status, create_time
        from user
        order by create_time desc
    </select>

    <update id="updateStatus">
        update user
        set status = #{status}
        where id = #{id}
    </update>
</mapper>